:root {
    --uhighlight-background-color-primary: #e8e5e5;
    --uhighlight-background-color-secondary: #fafafa;
    --uhighlight-accent-color: #cacaca;
    --uhighlight-text-primary-color: #222;
}
:root.uhighlight-dark-mode {
    --uhighlight-background-color-primary: #343434;
    --uhighlight-background-color-secondary: #2d2d30;
    --uhighlight-accent-color: #3f3f3f;
    --uhighlight-text-primary-color: #ddd;
}
.uhighlight-hidden {
    background-color: rgba(0, 0, 0, 0) !important;
}
.uhighlight {
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}
.uhighlight:hover {
    box-shadow: 2px 5px 7px rgb(0 0 0 / 20%);
}
.uhighlight-delete-btn {
    display: none;
    position: absolute;
    top: -15px;
    right: -15px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: none;
    background-color: red;
    color: white;
    font-size: 11px;
}
.uhighlight-note-overlay {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 20px;
    background-color: var(--uhighlight-background-color-primary);
    color: var(--uhighlight-text-primary-color);
    font-size: 1em;
    z-index: 1;
}
.uhighlight:hover > .uhighlight-delete-btn,
.uhighlight-delete-btn:hover,
.uhighlight:hover > .uhighlight-note-overlay,
.uhighlight-note-overlay:hover {
    display: inline-block;
}
.uhighlight-note-input:hover + .uhighlight-note-overlay {
    display: none !important;
}
.uhighlight-note-input {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 20px;
    background-color: var(--uhighlight-background-color-primary);
    color: var(--uhighlight-text-primary-color);
}
