:root {
    --uhighlight-background-color-primary: #e8e5e5;
    --uhighlight-background-color-secondary: #fafafa;
    --uhighlight-accent-color: #cacaca;
    --uhighlight-accent-color-secondary: #c29ddd;
    --uhighlight-text-primary-color: #222;
    --uhighlight-font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

    --uhighlight-border-radius: 10px;
}
:root.uhighlight-dark-mode {
    --uhighlight-background-color-primary: #343434;
    --uhighlight-background-color-secondary: #2d2d30;
    --uhighlight-accent-color: #3f3f3f;
    --uhighlight-text-primary-color: #ddd;
}
.uhighlight-hidden {
    background-color: rgba(0, 0, 0, 0) !important;
    pointer-events: none;
}
.uhighlight {
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}
.uhighlight:hover {
    box-shadow: 2px 5px 7px rgb(0 0 0 / 20%);
}
.uhighlight-delete-btn {
    display: none;
    position: absolute;
    top: -10px;
    left: -10px;
    width: 18px;
    height: 18px;
    padding: 2px;
    border: 1px solid var(--uhighlight-text-primary-color);
    border-radius: 20px;
    background-color: var(--uhighlight-background-color-primary);
    color: var(--uhighlight-text-primary-color);
}
.uhighlight-note-overlay {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 20%;
    padding: 8px;
    border-radius: var(--uhighlight-border-radius);
    background-color: var(--uhighlight-background-color-primary);
    color: var(--uhighlight-text-primary-color);
    font-size: 1em;
    font-family: var(--uhighlight-font-family);
    z-index: 1;
}
.uhighlight:hover > .uhighlight-delete-btn,
.uhighlight-delete-btn:hover,
.uhighlight:hover > .uhighlight-note-overlay,
.uhighlight-note-overlay:hover {
    display: inline-block;
}
.uhighlight-note-input:hover + .uhighlight-note-overlay {
    display: none !important;
}
.uhighlight-note-input {
    min-width: 100px;
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 20%;
    padding: 8px;
    border-radius: var(--uhighlight-border-radius);
    background-color: var(--uhighlight-background-color-primary);
    color: var(--uhighlight-text-primary-color);
    font-family: var(--uhighlight-font-family);
    z-index: 1;
}
.uhighlight-note-input > *:focus {
    outline: none;
}

/* tip tap styling */
.uhighlight-note-input p,
.uhighlight-note-input ul,
.uhighlight-note-input ol,
.uhighlight-note-overlay p,
.uhighlight-note-overlay ul,
.uhighlight-note-overlay ol {
    margin-bottom: 8px !important;
}
.uhighlight-note-input li > p,
.uhighlight-note-overlay li > p {
    margin-top: 8px;
}

.uhighlight-note-overlay p:empty:before {
    content: " ";
    white-space: pre;
}

#wm-ip-base::shadow #wm-ipp {
    z-index: 2147483646 !important;
}
